/* Reset default user agent's styles */
*,
*::before,
*::after {
  box-sizing: border-box;
}

// css variables
$bg-color: #121212;

body {
  margin: 0;
  font-family: 'Asap', sans-serif;
  background-color: $bg-color;
}

.wrapper {
  max-width: 1024px;
  margin: 0 auto;
}
